/** @format */

/* @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&display=swap');

:root {
  --primary-color: rgb(167, 164, 164);
  --secondary-color: #fff;
  --grey-color: #333;
  --primary-red: #bc0003;
  --secondary-red: #710002;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b2321;
  color: var(--grey-color);
  font-family: 'Kanit';
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6;
  /* border: 1px solid red; */
}

button {
  font-family: 'Kanit';
  font-size: 1rem;
  letter-spacing: 0.05rem;
  width: 300px;
  background-color: var(--primary-color);
  padding: 0.25rem;
  /* margin-top: 3rem; */
  border: none;
  border-radius: 5px;
  transition: 1s;
}

a {
  font-weight: 200;
  color: var(--primary-color);
  text-decoration: none;
}

::placeholder {
  font-family: 'Kanit';
  font-size: 0.75rem;
}

button:hover {
  background-color: var(--grey-color);
  color: var(--primary-color);
}

input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
textarea:focus {
  color: #fff;
  background-color: var(--primary-color);
  outline: none;
}

input[type='text'],
input[type='number'],
input[type='email'],
textarea[type='message'] {
  font-family: 'Kanit';
  font-size: 1rem;
  border: 1px dotted var(--secondary-red);
}

.current {
  color: var(--primary-red);
}

.red-color {
  color: var(--primary-red);
}

.dark-red-color {
  color: var(--secondary-red);
}

.bottom-line {
  width: 80%;
  margin: 50px auto;
  border: 0;
}

/* -----------------------------------------------
---------------------FOOTER--------------------
----------------------------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 0.85rem;
  font-weight: 100;
  text-align: center;
  color: var(--primary-color);
  padding: 20px 0;
  border: 1px solid red;
}

footer p {
  text-align: left;
  font-size: 0.7rem;
  width: 40%;
  /* border: 1px solid orange; */
  padding: 5px 0;
  padding-left: 20px;
}

.social-media-icons {
  text-align: right;
  width: 40%;
  padding-right: 20px;
}

.social-media-icons a:hover {
  color: var(--secondary-red);
  transition-duration: 1s;
}

.social-icon {
  padding: 0 6px;
}

/* ---------------------------------- */
/* nav */

#nav-container {
  float: right;
  width: 40%;
  height: 10%;
  background-color: transparent;
  /* border: 1px solid orange; */
}

#nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  /* border: 1px solid blue; */
}

.nav-list-item {
  font-size: 1.25rem;
  font-weight: 200;
  color: var(--primary-color);
  padding: 0 0.5rem;
  /* border: 1px solid red; */
  border-radius: 10px;
  transition: 1s;
}

.nav-list-item:hover {
  border-bottom: 1px dotted var(--primary-red);
}

/* HOME PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

#home {
  width: 100vw;
  height: 100vh;
}

#main-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background: url('../images/aaron-boris-VxbMTmtRG5Q-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: var(--secondary-color);
  /* border: 2px solid blue; */
}

.intro-container {
  position: relative;
  top: 0px;
  float: left;
  font-family: 'Kanit';
  color: var(--primary-color);
  width: 40%;
  /* overflow: hidden; */
  /* height: 90vh; */
  /* border: 1px dotted red; */
}

.intro-container h1 {
  line-height: 5rem;
  font-size: 5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  border: 1px solid orange;
}

.intro-container p {
  font-size: 1.1rem;
  font-weight: 200;
  text-align: justify;
  padding-top: 1rem;
  padding-left: 5rem;
  border: 1px solid orange;
}

.home-buttons-container {
  /* position: absolute;
  top: 575px;
  left: 50px; */
  width: 50%;
  height: 15%;
  padding-top: 10px;
  border: 1px solid red;
}

.home-buttons {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  border: 2px solid blue;
}

.home-button {
  display: inline-block;
  width: 180px;
  text-align: center;
  background-color: var(--grey-color);
  padding: 10px;
  border-radius: 5px;
}

.home-button-1,
.home-button-2 {
  margin-right: 10px;
}

.home-button:hover {
  background-color: var(--primary-red);
  transition-duration: 1s;
}

/* 
.home-button a {
  width: 100px;
  font-weight: 300;
  color: var(--grey-color);
  font-size: 0.8rem;
} */

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

#introduction {
  position: absolute;
  top: 100px;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#introduction h6 {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--primary-color);
}

/* #main-button {
  position: absolute;
  width: auto;
  top: 575px;
} */

#icons-container {
  position: absolute;
  width: auto;
  top: 500px;
  /* border: 1px solid red; */
}

.s-n-icon {
  font-size: 2rem;
  padding: 0.5rem;
}

.top-container {
  height: 10vh;
  width: 100%;
  padding: 15px 0;
  border-bottom: 5px solid var(--secondary-red);
}

.home-page-footer {
  position: absolute;
  bottom: 5px;
}

/* ----------------------------------------- */
/* ABOUT PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

#about-container {
  align-items: center;
  height: auto;
  width: 100%;
  color: var(--grey-color);
  background-color: #fff;
  border: 5px solid transparent;
}

.about-text-and-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 100px;
  width: 80%;
  height: auto;
  /* border: 1px solid orange; */
}

.about-text-and-img-container img {
  width: 350px;
  padding: 0 20px;
  border-radius: 20px;
  /* border-right: 3px dotted var(--secondary-red); */
}

.about-text-container {
  text-align: justify;
  width: 100%;
  border-left: 3px dotted var(--secondary-red);
}

.about-text-container p {
  font-size: 1.25rem;
  padding: 0 20px;
}

#show-on-scroll-container {
  height: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 120px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  /* border: 5px solid pink; */
}

.card {
  display: flex;
  width: 90%;
  height: 100px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  /* border: 1px dotted #710002; */
  border-radius: 10px;
}

.card h3 {
  float: left;
  padding: 30px 10px;
  width: 15%;
  height: 100%;
  text-align: center;
  border-right: 1px dotted var(--secondary-red);
  border-left: 1px dotted var(--secondary-red);
}

.card p {
  text-align: left;
  font-size: 1.25rem;
  width: 85%;
  height: 100%;
  padding: 30px 40px;
  border-right: 1px dotted var(--secondary-red);
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* SKILLS PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

#skills-container {
  background-color: #fff;
  height: auto;
}

.hard-skills-container,
.soft-skills-container {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.soft-skills-container {
  padding-bottom: 100px;
}

.hard-skills-container h2,
.soft-skills-container h2 {
  padding-bottom: 20px;
}

.hard-skills-container p,
.soft-skills-container p {
  font-size: 1.25rem;
  text-align: justify;
}

.hard-skills-icon-container,
.soft-skills-icon-container {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* PROJECTS PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */

#projects {
  width: 100vw;
  height: 120vh;
  border: 5px solid orange;
}

#projects-and-header-container {
  width: 100%;
  height: 90%;
  background-color: #fff;
  border: 5px solid green;
}
#projects-header {
  display: block;
}

#projects-header h1 {
  text-align: center;
}

#projects-header p {
  font-size: 1.15rem;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

#projects-container {
  width: 70%;
  height: 85%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border: 5px solid red;
}

.project {
  position: relative;
  display: flex;
  flex: 0.05;
  height: 95%;
  background-size: 100% auto;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: left top;
  margin: 5px;
  /* transform: translateY(-100px); */
  border: none;
  border-radius: 5px;
  cursor: grab;
  transition: flex 1s ease-in-out;
  border: 1px solid var(--secondary-red);
  border-radius: 5px;
}

.project h4 {
  font-family: 'Kanit';
  font-weight: 300;
  position: absolute;
  text-align: center;
  background-color: var(--primary-color);
  left: 30px;
  bottom: 75px;
  opacity: 0;
  /* border: 1px solid blue; */
}

.project a {
  font-family: 'Kanit';
  font-weight: 300;
  /* display: none; */
  background-color: var(--primary-color);
  font-size: 0.1rem;
  opacity: 0;
  /* border: 2px solid green; */
}

.project-button-live {
  font-family: 'Kanit';
  color: var(--grey-color);
  position: absolute;
  left: 15%;
  bottom: 25px;
  padding-left: 35px;
  /* border: 2px solid green; */
  border-radius: 5px;
}

.project-button-github {
  font-family: 'Kanit';
  color: var(--grey-color);
  position: absolute;
  left: 60%;
  bottom: 25px;
  padding-left: 35px;
  /* border: 2px solid green; */
  border-radius: 5px;
}

.active {
  flex: 0.68;
}

.active h4 {
  /* font-family: 'Courier New', Courier, monospace;
  font-weight: 800; */
  color: var(--grey-color);
  width: 90%;
  margin: auto;
  text-align: center;
  opacity: 1;
  border-radius: 10px;
  transition-delay: 1s;
  transition-duration: 1s;
}

.active a {
  display: inline-block;
  /* padding: 5px; */
  width: 150px;
  font-size: 1rem;
  opacity: 1;
  transition-delay: 1s;
  transition-duration: 1s;
}

.active a:hover {
  background-color: var(--grey-color);
  color: var(--primary-color);
  transition: 2s ease-in-out;
}

.active i {
  padding: 10px;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* CONTACT PAGE */
/* ----------------------------------------- */

#contact-container {
  /* position: relative;
  top: 0px; */
  width: 100%;
  height: auto;
  background-color: #fff;
  /* border: 5px solid green; */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-header {
  text-align: center;
  padding-top: 20px;
  /* border: 1px solid red; */
}

#contact-header h1,
#contact-header p {
  color: #0b2321;
}

#form-container {
  display: grid;
  grid-gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid red; */
}

.contact {
  border-radius: 5px;
  padding: 10px;
}

.contact-message {
  grid-column: span 2;
}

#contact-submit {
  width: 40%;
  margin-top: 1rem;
}

#contact-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
}

.details {
  display: flex;
  flex-direction: row;
}

.details i {
  color: #0b2321;
}

.details p {
  color: #0b2321;
  font-size: 1.25rem;
  margin-left: 10px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MEDIA QUERIES */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 801px) and (max-width: 1160px) {
  #nav-container {
    float: right;
    width: 100%;
    height: 10%;
    background-color: transparent;
  }

  .intro-container {
    position: relative;
    top: 0px;
    float: left;
    font-family: 'Kanit';
    color: var(--primary-color);
    width: 45%;
  }

  .intro-container h1 {
    line-height: 3rem;
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 3rem;
  }

  .intro-container p {
    position: absolute;
    top: 125px;
    left: 50px;
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
  }

  .home-buttons-container {
    position: absolute;
    top: 67%;
    left: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .home-button {
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--grey-color);
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
  }

  /* ++++++++++ABOUT++++++++++++++ */

  .about-text-container p {
    font-size: 1rem;
    padding: 0 20px;
  }

  /* ++++++++++CONTACT++++++++++++++ */

  #contact-submit {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  #contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
  }

  #contact-details h2 {
    margin-bottom: 20px;
  }

  .details-address {
    padding-bottom: 30px;
  }

  .details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 501px) and (max-width: 800px) {
  #nav-container {
    float: center;
    width: 100%;
    height: 10%;
    background-color: transparent;
  }

  .nav-list-item {
    font-size: 0.9rem;
    font-weight: 200;
    color: var(--primary-color);
  }

  .intro-container {
    position: relative;
    top: 0px;
    float: left;
    font-family: 'Kanit';
    color: var(--primary-color);
    width: 50%;
    height: 90vh;
    border: 1px dotted red;
  }

  .intro-container h1 {
    line-height: 2rem;
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 2rem;
  }

  .intro-container p {
    position: absolute;
    top: 75px;
    left: 50px;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: justify;
  }

  .home-buttons-container {
    position: absolute;
    top: 500px;
    left: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .home-button {
    display: inline-block;
    font-size: 0.9rem;
    width: 300px;
    text-align: center;
    background-color: var(--grey-color);
    padding: 5px;
    border-radius: 5px;
    margin: 1rem 0;
  }

  /* ++++++++++ABOUT++++++++++++++ */

  .about-text-and-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    width: 80%;
    height: auto;
  }

  .about-text-and-img-container img {
    width: 200px;
    margin: 30px 20px;
    /* border-right: 3px dotted var(--secondary-red); */
  }

  .about-text-container p {
    font-size: 0.9rem;
    padding: 0 20px;
  }

  #show-on-scroll-container {
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #show-on-scroll-container h2 {
    font-size: 1rem;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    /* border: 5px solid pink; */
  }

  .card {
    display: flex;
    width: 90%;
    height: 120px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    /* border: 1px dotted #710002; */
    border-radius: 10px;
  }

  .card h3 {
    font-size: 0.9rem;
    float: left;
    padding: 30px 10px;
    width: 15%;
    height: 100%;
    text-align: center;
    border-right: 1px dotted var(--secondary-red);
    border-left: 1px dotted var(--secondary-red);
  }

  .card p {
    text-align: left;
    font-size: 0.9rem;
    width: 85%;
    height: 100%;
    padding: 30px 40px;
    border-right: 1px dotted var(--secondary-red);
  }
  }

  /* ++++++++++SKILLS++++++++++++++ */

  .hard-skills-container,
  .soft-skills-container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;
  }

  .soft-skills-container {
    padding-bottom: 50px;
  }

  .hard-skills-container h2,
  .soft-skills-container h2 {
    font-size: 1.25rem;
    padding-bottom: 10px;
  }

  .hard-skills-container p,
  .soft-skills-container p {
    font-size: 1rem;
    text-align: justify;
  }

  .hard-skills-icon-container,
  .soft-skills-icon-container {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0;
    font-size: 3rem;
  }

  /* ++++++++++CONTACT++++++++++++++ */

  #contact-submit {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  #contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
  }

  #contact-details h2 {
    margin-bottom: 20px;
  }

  .details-address {
    padding-bottom: 30px;
  }

  .details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (max-width: 500px) {

  #home {
    width: 100vw;
    height: auto;
  }

  #nav-container {
    float: right;
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  .nav-list-item {
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--primary-color);
    padding: 0 0.5rem;
    border-radius: 10px;
    transition: 1s;
  }

  .intro-container {
    position: relative;
    top: 0px;
    font-family: 'Kanit';
    color: var(--primary-color);
    width: 80%;
    height: 400px;
  }

  .intro-container h1 {
    line-height: 2rem;
    position: absolute;
    top: 0px;
    font-size: 2rem;
    padding: 50px 0;
  }

  .intro-container p {
    position: absolute;
    top: 125px;
    left: 50px;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: justify;
    padding-top: 20px;
  }

  .home-buttons-container {
    position: absolute;
    top: 475px;
    left: 35px;
    width: 80%;
    border: 1px dotted orange;
  }

  .home-button {
    display: inline-block;
    font-size: 0.7rem;
    width: 80%;
    text-align: center;
    background-color: var(--grey-color);
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 0.85rem;
    font-weight: 100;
    text-align: center;
    color: var(--primary-color);
  }

  footer p {
    text-align: left;
    font-size: 0.4rem;
    width: 40%;
    padding: 20px 0;
    padding-left: 20px;
  }

  .social-media-icons i {
    font-size: 1.5rem;
    padding: 20px 0;
  }

  /* ++++++++++ABOUT++++++++++++++ */

  .about-text-and-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    width: 80%;
    height: auto;
  }

  .about-text-and-img-container img {
    width: 200px;
    margin: 30px 20px;
    border-radius: 10px;
    /* border-right: 3px dotted var(--secondary-red); */
  }

  .about-text-container p {
    font-size: 0.8rem;
    padding: 0 20px;
  }

  #show-on-scroll-container {
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #show-on-scroll-container h2 {
    font-size: 0.8rem;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    /* border: 5px solid pink; */
  }

  .card {
    display: flex;
    width: 90%;
    height: 120px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    /* border: 1px dotted #710002; */
    border-radius: 10px;
  }

  .card h3 {
    font-size: 0.8rem;
    float: left;
    padding: 30px 10px;
    width: 15%;
    height: 100%;
    text-align: center;
    border-right: 1px dotted var(--secondary-red);
    border-left: 1px dotted var(--secondary-red);
  }

  .card p {
    text-align: left;
    font-size: 0.8rem;
    width: 85%;
    height: 100%;
    padding: 30px 40px;
    border-right: 1px dotted var(--secondary-red);
  }

  /* ++++++++++SKILLS++++++++++++++ */

  .hard-skills-container,
  .soft-skills-container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;
  }

  .soft-skills-container {
    padding-bottom: 50px;
  }

  .hard-skills-container h2,
  .soft-skills-container h2 {
    font-size: 1.25rem;
    padding-bottom: 10px;
  }

  .hard-skills-container p,
  .soft-skills-container p {
    font-size: 1rem;
    text-align: justify;
  }

  .hard-skills-icon-container,
  .soft-skills-icon-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.25rem;
  }

  /* ++++++++++CONTACT++++++++++++++ */

  #contact-header p {
    padding: 0 20px;
  }

  #form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid red; */
  }

  #contact-submit {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #contact-details {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
  }

  #contact-details h2 {
    margin-bottom: 20px;
  }

  .details-address {
    padding-bottom: 30px;
  }

  .details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  .details i,
  .details p {
    font-size: 1rem;
  }
}
