/** @format */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --primary-color: rgb(167, 164, 164);
  --secondary-color: #fff;
  --grey-color: #333;
  --primary-red: #bc0003;
  --secondary-red: #710002;
  --green-color: #0b2321;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 350px;
  max-width: 1350px;
  min-height: 300px;
  max-height: 650px;
  background-color: var(--green-color);
  color: var(--green-color);
  font-family: 'Kanit';
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6;
  margin: auto;
}

button {
  width: 300px;
  background-color: var(--green-color);
  color: var(--secondary-color);
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
  transition: 1s;
}

button:hover {
  background-color: var(--primary-red);
  color: var(--secondary-color);
}

a {
  font-weight: 200;
  color: var(--primary-color);
  text-decoration: none;
}

::placeholder {
  font-family: 'Kanit';
  font-size: 0.75rem;
}

input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
textarea:focus {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  outline: none;
}

input[type='text'],
input[type='number'],
input[type='email'],
textarea[type='message'] {
  font-family: 'Kanit';
  font-size: 1rem;
  border: 1px dotted var(--secondary-red);
}

ul {
  text-align: justify;
  list-style: none;
}

li {
  font-size: 1.1rem;
}

.current {
  color: var(--primary-red);
}

.red-color {
  color: var(--primary-red);
}
.thicker-font {
  font-weight: 500;
}

.dark-red-color {
  color: var(--secondary-red);
}

.bottom-line {
  width: 80%;
  margin: 50px auto;
  border: 0;
}

/* -----------------------------------------------
---------------------FOOTER--------------------
----------------------------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 75px;
  font-size: 0.85rem;
  font-weight: 100;
  text-align: center;
  padding: 20px 0;
  color: var(--primary-color);
}

footer p {
  text-align: left;
  font-size: 0.7rem;
}

.copyright {
  width: 45%;
  margin-left: 20px;
  border: 1 px solid red;
}

.social-media-icons {
  text-align: right;
  width: 45%;
  margin-right: 20px;
}

.social-media-icons a:hover {
  color: var(--secondary-red);
  transition-duration: 1s;
}

.fa-github-square,
.fa-linkedin {
  margin-right: 10px;
}

/* ---------------------------------- */
/* nav */

#nav-container {
  float: right;
  width: 40%;
}

#nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0.75rem 0.5rem;
}

.nav-list-item {
  font-size: 1.25rem;
  font-weight: 200;
  color: var(--primary-color);
  transition: 1s;
}

.nav-list-item:hover {
  border-bottom: 1px dotted var(--primary-red);
}

/* HOME PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

#home {
  width: 100vw;
  height: auto;
}

#main-container {
  width: 100vw;
  height: 100vh;
  background: url('../images/aaron-boris-VxbMTmtRG5Q-unsplash-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: var(--secondary-color);
}

.intro-container {
  color: var(--primary-color);
  width: 50%;
}

.intro-container h1 {
  line-height: 4rem;
  font-size: 5rem;
  padding-top: 3rem;
  padding-left: 2rem;
}

.intro-container p {
  font-size: 1.25rem;
  font-weight: 200;
  text-align: justify;
  margin-top: 2rem;
  margin-left: 5rem;
}

.home-buttons-container {
  width: 48.4%;
  height: 18%;
  margin-left: 4rem;
}

.home-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.home-buttons a {
  font-size: 1.25rem;
}

.home-button {
  width: 90%;
  text-align: center;
  background-color: var(--grey-color);
  padding: 10px;
  margin: 0.5rem;
  border-radius: 5px;
}

.home-button:hover {
  background-color: var(--primary-red);
  transition-duration: 1s;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

/* ----------------------------------------- */
/* ABOUT PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

.top-container {
  height: 75px;
  width: 100%;
  padding: 6px 0;
  border-bottom: 5px solid var(--secondary-red);
}

#about-container {
  width: 100%;
  color: var(--grey-color);
  background-color: var(--secondary-color);
  border: 1px solid transparent;
}

#about-container h1 {
  text-align: center;
  padding-top: 50px;
}

.about-text-and-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 5%;
  width: 80%;
  height: auto;
}

.about-text-and-img-container img {
  width: 350px;
  padding: 0 20px;
}

.about-text-container {
  text-align: justify;
  width: 100%;
  border-left: 3px dotted var(--secondary-red);
}

.about-text-container p {
  font-size: 1.25rem;
  padding: 0 20px;
}

#show-on-scroll-container {
  height: auto;
  text-align: center;
  margin-top: 30px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  display: flex;
  width: 85%;
  height: 10%;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.card h3 {
  float: left;
  padding: 0px 10px;
  width: 15%;
  height: 100%;
  text-align: center;
  border-right: 1px dotted var(--secondary-red);
  border-left: 1px dotted var(--secondary-red);
}

.card p {
  text-align: left;
  font-size: 1.25rem;
  width: 85%;
  height: 100%;
  padding: 0px 40px;
  border-right: 1px dotted var(--secondary-red);
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* SKILLS PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

#skills-container {
  background-color: var(--secondary-color);
}

#skills-container a:hover {
  text-decoration: underline;
}

#skills-container h1 {
  text-align: center;
  padding-top: 50px;
}

.hard-skills-container,
.soft-skills-container,
.learning-skills-container {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 5%;
  padding-left: 50px;
  border: 1px solid red;
}

.hard-skills-container li::before,
.soft-skills-container li::before,
.learning-skills-container li::before {
  content: '\2217';
  color: var(--primary-red);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

.soft-skills-container,
.learning-skills-container {
  padding-top: 0;
  padding-bottom: 5%;
}

.hard-skills-container h2,
.soft-skills-container h2,
.learning-skills-container h2 {
  padding-bottom: 20px;
}

.hard-skills-container p,
.soft-skills-container p,
.learning-skills-container p {
  font-size: 1.25rem;
  text-align: justify;
  padding-bottom: 1rem;
}

.store-p {
  padding-top: 1rem;
}

.hard-skills-icon-container,
.soft-skills-icon-container,
.soft-skills-icon-container {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
}

.soft-skills-icon-container {
  font-size: 3.5rem;
}

.languages {
  margin-left: 2rem;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* PROJECTS PAGE */
/* ----------------------------------------- */
/* ----------------------------------------- */

#projects {
  width: 100vw;
  height: 100vh;
}

#projects-and-header-container {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
}

#projects-and-header-container h1 {
  text-align: center;
  padding-top: 50px;
}

#projects-header p {
  font-size: 1.15rem;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

#projects-container {
  width: 70%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
}

.project {
  position: relative;
  display: flex;
  flex: 0.025;
  height: 60%;
  background-size: 100% auto;
  background-color: var(--grey-color);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 5px;
  border: none;
  cursor: grab;
  transition: flex 1s ease-in-out;
  border: 1px solid var(--secondary-red);
  border-radius: 5px;
}

.project h4 {
  font-weight: 300;
  position: absolute;
  left: 30px;
  bottom: 75px;
  text-align: center;
  background-color: var(--primary-color);
  opacity: 0;
}

.project a {
  font-weight: 300;
  background-color: var(--primary-color);
  font-size: 0.1rem;
  opacity: 0;
}

.project-button-live {
  color: var(--grey-color);
  position: absolute;
  left: 4.1%;
  bottom: 25px;
  border-radius: 5px;
}

.project-button-github {
  color: var(--grey-color);
  position: absolute;
  left: 50%;
  bottom: 25px;
  padding-left: 35px;
  border-radius: 5px;
}

.active {
  flex: 0.9;
}

.active h4 {
  color: var(--grey-color);
  width: 90%;
  margin: auto;
  padding: 5px;
  text-align: center;
  opacity: 1;
  border-radius: 5px;
  transition-delay: 1s;
  transition-duration: 1s;
}

.active a {
  display: inline-block;
  padding: 5px;
  width: 44%;
  text-align: center;
  font-size: 1rem;
  opacity: 1;
  transition-delay: 1s;
  transition-duration: 1s;
}

.active a:hover {
  background-color: var(--primary-red);
  color: var(--primary-color);
  transition: 1s;
}

.active i {
  padding: 10px;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* CONTACT PAGE */
/* ----------------------------------------- */

#contact-container {
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-header {
  text-align: center;
  padding-top: 50px;
}

#contact-header h1,
#contact-header p {
  color: var(--green-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-container {
  display: grid;
  grid-gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.contact {
  border-radius: 5px;
  padding: 10px;
}

.contact-message {
  grid-column: span 2;
}

#contact-submit {
  width: 40%;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  padding: 10px;
}

#contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
  border-radius: 5px;
  /* border: 3px solid red; */
}

#contact-details h2 {
  text-align: center;
}

.contact-details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin-top: 50px;
  border-radius: 5px;
  /* border: 3px solid green; */
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  /* border: 3px solid blue; */
}

.details i {
  color: var(--green-color);
}

.details p {
  color: var(--green-color);
  font-size: 1.25rem;
  margin-left: 10px;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* THANK YOU PAGE */

#thank-you {
  width: 100vw;
  height: 100vh;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#thank-you p {
  margin-bottom: 2rem;
}

#thank-you a:hover {
  text-decoration: underline;
}

/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */
/* +++++++ MEDIA QUERIES ++++++++++ */
/* ++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* +++++++++ 801 - 1160 +++++++++++ */

@media screen and (min-width: 801px) and (max-width: 1160px) {
  /* +++++++++++++ NAV ++++++++++++ */

  #nav-container {
    width: 50%;
  }

  /* +++++++++++++ HOME ++++++++++++ */

  .intro-container h1 {
    padding-top: 4rem;
  }

  .intro-container p {
    font-size: 1.2rem;
  }

  .home-buttons a {
    font-size: 1.25rem;
  }

  /* ++++++++++PROJECT++++++++++++++ */

  .project h4 {
    left: 4%;
  }

  /* ++++++++++CONTACT++++++++++++++ */

  .contact-details-container {
    width: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .details {
    display: flex;
    padding: 10px;
  }

  .details i {
    color: var(--green-color);
  }

  .details p {
    color: var(--green-color);
    font-size: 1.25rem;
    margin-left: 10px;
  }
}

/* ++++++++++++++++++++++++++++++++ */
/* +++++++ MEDIA QUERIES ++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* +++++++++ 500 - 800 +++++++++++ */

@media screen and (min-width: 501px) and (max-width: 800px) {
  /* +++++++++++++ NAV ++++++++++++ */

  #nav-container {
    width: 100%;
  }

  .nav-list-item {
    font-size: 1rem;
  }

  /* +++++++++++++ FOOTER +++++++++++ */

  .social-media-icons a {
    font-size: 0.7rem;
  }

  /* +++++++++++++ HOME ++++++++++++ */

  .intro-container {
    color: var(--primary-color);
    width: 50%;
  }

  .intro-container h1 {
    line-height: 2.5rem;
    font-size: 3rem;
    padding-top: 4rem;
  }

  .intro-container p {
    font-size: 0.9rem;
    font-weight: 200;
    margin-left: 2rem;
  }

  .home-buttons-container {
    margin-left: 2rem;
  }

  .home-buttons a {
    font-size: 0.9rem;
  }
  .home-button {
    margin: 0.5rem;
    margin-left: 0;
  }

  /* ++++++++++ABOUT++++++++++++++ */

  .about-text-and-img-container {
    flex-direction: column;
  }

  .about-text-and-img-container img {
    width: 225px;
    padding-bottom: 30px;
  }

  .about-text-container {
    text-align: justify;
    width: 100%;
    border-left: none;
  }

  .about-text-container p {
    font-size: 1rem;
  }

  #show-on-scroll-container {
    height: auto;
    text-align: center;
    margin-top: 30px;
  }

  .card h3 {
    border-right: none;
    border-left: none;
  }

  .card p {
    font-size: 1rem;
    border-right: none;
  }

  /* ++++++++++SKILLS++++++++++++++ */

  .hard-skills-container h2,
  .soft-skills-container h2 {
    font-size: 1.25rem;
  }

  .hard-skills-container p,
  .soft-skills-container p {
    font-size: 1rem;
    text-align: justify;
  }

  .hard-skills-icon-container i,
  .soft-skills-icon-container i {
    font-size: 2.5rem;
  }

  /* ++++++++++PROJECT++++++++++++++ */

  .project h4 {
    display: none;
  }

  /* ++++++++++CONTACT++++++++++++++ */

  .contact-details-container {
    width: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .details {
    display: flex;
    padding: 10px;
  }

  .details i {
    color: var(--green-color);
  }

  .details p {
    color: var(--green-color);
    font-size: 1.25rem;
    margin-left: 10px;
  }
}

/* ++++++++++++++++++++++++++++++++ */
/* +++++++ MEDIA QUERIES ++++++++++ */
/* ++++++++++++++++++++++++++++++++ */

/* +++++++++++ < 500 ++++++++++++++ */

@media screen and (max-width: 500px) {
  /* +++++++++++++ NAV ++++++++++++ */

  #nav-container {
    margin-top: 1rem;
    width: 100%;
  }

  .nav-list-item {
    font-size: 1rem;
  }

  /* +++++++++++++ FOOTER +++++++++++ */

  footer p {
    font-size: 0.6rem;
  }

  .social-media-icons a {
    font-size: 0.6rem;
  }

  /* +++++++++++++ HOME ++++++++++++ */

  .intro-container {
    width: 300px;
  }

  .intro-container h1 {
    color: var(--secondary-color);
    line-height: 2rem;
    font-size: 2rem;
    padding-top: 7rem;
    padding-left: 1rem;
  }

  .intro-container p {
    font-size: 0.9rem;
    color: var(--secondary-color);
    margin-top: 0rem;
    margin-left: 0rem;
    padding: 2rem 1rem;
  }

  .home-buttons-container {
    width: 300px;
    height: 200px;
    margin-left: 0rem;
    margin-left: 0;
  }

  .home-buttons {
    margin-top: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-buttons a {
    color: var(--secondary-color);
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  .home-button {
    width: 250px;
    margin: 5px;
    margin-top: 25px;
  }

  .home-button-1 {
    margin-left: 0rem;
  }

  .home-button-3 {
    margin-right: 0rem;
  }

  /* ++++++++++ABOUT++++++++++++++ */

  .about-text-and-img-container {
    flex-direction: column;
  }

  .about-text-and-img-container img {
    width: 225px;

    padding-bottom: 30px;
  }

  .about-text-container {
    text-align: justify;
    width: 100%;
    border-left: none;
  }

  #about-container h1 {
    font-size: 1.5rem;
  }

  .about-text-container p {
    font-size: 1rem;
  }

  #show-on-scroll-container {
    height: auto;
    text-align: center;
    margin-top: 30px;
  }

  #show-on-scroll-container h2 {
    font-size: 1.1rem;
  }

  .card h3 {
    border-right: none;
    border-left: none;
  }

  .card p {
    font-size: 1rem;
    border-right: none;
  }

  /* ++++++++++SKILLS++++++++++++++ */

  #skills-container h1 {
    font-size: 1.5rem;
  }

  .hard-skills-container h2,
  .soft-skills-container h2 {
    font-size: 1.1rem;
  }

  .hard-skills-container p,
  .soft-skills-container p {
    font-size: 1rem;
    text-align: justify;
  }

  .hard-skills-icon-container i,
  .soft-skills-icon-container i {
    font-size: 2.5rem;
  }

  /* ++++++++++PROJECT++++++++++++++ */

  #projects-container {
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
  }

  .project-button-live {
    color: var(--grey-color);
    position: absolute;
    left: 4.1%;
    bottom: 25px;
    border-radius: 5px;
  }

  .project-button-github {
    color: var(--grey-color);
    position: absolute;
    left: 50%;
    bottom: 25px;
    padding-left: 15px;
    border-radius: 5px;
  }

  .project h4 {
    display: none;
  }

  .active i {
    display: none;
  }

  /* ++++++++++CONTACT++++++++++++++ */

  #contact-header h1 {
    font-size: 1.5rem;
  }

  #contact-header p {
    font-size: 0.9rem;
    padding: 0 30px;
  }

  #form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }

  textarea[type='message'] {
    height: 150px;
  }

  #contact-details h2 {
    font-size: 1.1rem;
  }

  .contact-details-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }

  .details {
    display: flex;
    padding: 10px;
  }

  .details i {
    font-size: 1rem;
  }

  .details p {
    font-size: 1rem;
  }
}

/* ++++++++++LANDSCAPE++++++++++ */

@media screen and (max-width: 800px) and (orientation: landscape) {
  #projects {
    width: 100vw;
    height: 200vh;
  }

  #projects-and-header-container {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
  }

  .project h4 {
    display: none;
  }
}

@media screen and (max-width: 500px) and (orientation: landscape) {
  #projects-container {
    width: 80%;
    height: 300px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) and (orientation: landscape) {
  #projects {
    width: 100vw;
    height: 100vh;
  }

  #projects-container {
    width: 80%;
    height: 450px;
  }
}
