/** @format */

/* @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&display=swap');

:root {
  --primary-color: rgb(167, 164, 164);
  --secondary-color: #fff;
  --grey-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 12, 12);
  color: var(--primary-color);
  font-family: 'Kanit';
  font-size: 1rem;
  line-height: 1.6;
  /* border: 1px solid red; */
}

button {
  /* font-family: 'Teco'; */
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  width: 300px;
  background-color: var(--primary-color);
  padding: 0.25rem;
  /* margin-top: 3rem; */
  border: none;
  border-radius: 10px;
  transition: 1s;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

::placeholder {
  font-family: 'Kanit';
  font-size: 0.75rem;
}

button:hover {
  background-color: var(--grey-color);
  color: var(--primary-color);
}

input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
  background-color: var(--grey-color);
  border: 1px solid black;
  outline: none;
}

footer {
  text-align: center;
  margin-top: 3rem;
}

#main-container {
  width: 100vw;
  height: 80vh;
  background: url('../images/pexels-daniel-putzer-633409.jpg') no-repeat center
    center/cover;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
}

#nav-container {
  display: block;
  width: 100vw;
  height: 10vh;
  /* background-color: #fff; */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid orange; */
}

#nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  /* border: 1px solid blue; */
}

.nav-list-item {
  font-size: 1.25rem;
  font-weight: 200;
  color: var(--primary-color);
  padding: 0 0.5rem;
  /* border: 1px solid red; */
  border-radius: 10px;
  transition: 1s;
}

.nav-list-item:hover {
  background-color: var(--primary-color);
  color: var(--grey-color);
}

.current {
  background-color: var(--primary-color);
  color: var(--grey-color);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero * {
  z-index: 10;
}

#introduction {
  position: absolute;
  top: 100px;
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#introduction h6 {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--primary-color);
}

#main-button {
  position: absolute;
  width: auto;
  top: 550px;
}

#icons-container {
  position: absolute;
  width: auto;
  top: 500px;
  /* border: 1px solid red; */
}

.s-n-icon {
  font-size: 2rem;
  padding: 0.5rem;
}

/* ----------------------------------------- */
/* ----------------------------------------- */

/* ABOUT PAGE */

#about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 2000px;
  /* border: 5px solid red; */
}

#about-text-container {
  position: absolute;
  top: 100px;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 1rem;
  background-color: var(--grey-color);
  border-radius: 10px;
  /* border: 1px solid blue; */
}

#about-text-container h1,
#about-text-container p {
  color: var(--primary-color);
}

#show-on-scroll-container {
  position: absolute;
  top: 400px;
  width: 100%;
  height: auto;
  text-align: center;
  /* border: 1px solid pink; */
}

#show-on-scroll-container h3 {
  font-size: 2em;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: auto 3fr;
  width: 60%;
  height: 150px;
  margin: 1rem;
  /* border: 1px solid blue; */
  border-radius: 10px;
}

.card {
  display: grid;
  grid-template-columns: 3fr auto;
}

/* .card:nth-child(even) h6 {
  order: 2;
} */

.card h6 {
  float: left;
  /* font-size: 1.5rem; */
  padding: 0 10px;
}

.card p {
  border: 3px solid red;
}

.year {
  border: 1px solid orange;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/* PROJECTS PAGE */

#projects-and-header-container {
  /* position: relative; */
  width: 100vw;
  height: 90vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: 1px solid red; */
}
#projects-header {
  display: block;
  /* position: absolute; */
  /* border: 1px solid blue; */
}

#projects-header h1 {
  text-align: center;
}

#projects-container {
  /* position: absolute; */
  width: 70%;
  height: 90%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* border: 5px solid green; */
}

.project {
  position: relative;
  display: flex;
  flex: 0.05;
  height: 80%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: grab;
  transition: flex 1s ease-in-out;
  border: 1px solid #195905;
}

.project h4 {
  position: absolute;
  text-align: center;
  background-color: #fff;
  left: 30px;
  bottom: 75px;
  opacity: 0;
  /* border: 1px solid blue; */
}

.project button {
  /* display: none; */
  background-color: #fff;
  font-size: 0.1rem;
  opacity: 0;
}

.project-button-live {
  position: absolute;
  left: 25%;
  bottom: 25px;
}

.project-button-github {
  position: absolute;
  left: 60%;
  bottom: 25px;
}

.active {
  flex: 0.68;
}

.active h4 {
  /* font-family: 'Courier New', Courier, monospace;
  font-weight: 800; */
  color: var(--grey-color);
  width: 90%;
  margin: auto;
  text-align: center;
  opacity: 1;
  border-radius: 10px;
  transition-delay: 0.75s;
  transition-duration: 1s;
}

.active button {
  display: inline-block;
  padding: 5px;
  width: 150px;
  font-size: 1rem;
  opacity: 1;
  transition: all 2s ease-in-out;
}

.active button:hover {
  background-color: var(--grey-color);
  color: var(--primary-color);
}

.active button a {
  color: var(--grey-color);
}

.active button a:hover {
  color: #fff;
  transition: 2s ease-in-out;
}

.active button i {
  padding: 3px;
}

/* CONTACT PAGE */

#contact-container {
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid red; */
}

#contact-header {
  text-align: center;
  margin-top: 3rem;
}

#form-container {
  display: grid;
  grid-gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.contact {
  background-color: black;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

.contact-message {
  grid-column: span 2;
}

#contact-submit {
  width: 40%;
  margin: auto;
  margin-top: 1rem;
  /* border: 2px solid green; */
}

#contact-submit button {
  width: 100%;
}

#contact-details {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  justify-content: space-evenly;
  /* border: 2px solid green; */
}

.details {
  display: flex;
  flex-direction: row;
}

.details p {
  font-size: 1.25rem;
  margin-left: 10px;
}
